<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Welcome to handle exception in controller with @ExceptionHandler</h1>
    <ul>
        <li>
            <a href="/some-exception-unchecked">
                Handle unchecked exception with only logging - nothing happenings. See logs
            </a>
        </li>
        <li>
            <a href="/some-exception-checked">
                Handle checked exception with only logging - nothing happenings. See logs
            </a>
        </li>
        <li>
            <a href="/other-exception-unchecked-with-status">
                Handle unchecked exception with logging and set 400 status and message
            </a>
        </li>
        <li>
            <a href="/exception-custom-page">
                Handle unchecked exception with custom page display
            </a>
        </li>
        <li>
            <a href="/exception-custom-page-response-entity">
                Handle unchecked exception with display from responseEntity
            </a>
        </li>
    </ul>
</body>
</html>