# Enabling H2 Console
spring.h2.console.enabled=true

# ===============================
# DB H2
# ===============================
spring.datasource.url=jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_ON_EXIT=false
spring.datasource.driverClassName=org.h2.Driver

# ===============================
# JPA
# ===============================
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5InnoDBDialect
spring.jpa.properties.hibernate.id.new_generator_mappings = false
spring.jpa.properties.hibernate.format_sql = true
spring.jpa.properties.hibernate.use_sql_comments=true
spring.jpa.hibernate.ddl-auto = create

# ===============================
# Logging sql and params
# ===============================
logging.level.org.hibernate.SQL = DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE

